
@keyframes text-glow {
    from {
        color: var(--luna-text);
    }
    to {
        color: var(--luna-blue-3);
    }
}

@keyframes glow {
    from {
        border: 4px solid var(--luna-blue-3);
        padding: 3px;
    }
    to {
        border: 2px solid var(--luna-blue-2);
        padding: 5px;
    }
}
