@font-face {
    src: url("/fonts/NovaSquare-Regular.ttf");
    font-family: NovaSquare;
}

html,
body {
    font-family: NovaSquare;
    color: var(--luna-text);
    background: var(--luna-bg-dark) no-repeat;

    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;

    max-height: 100dvh;
    transition: color .5s, background-color 1s;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgba(220, 200, 200, 0.05);
    padding: 0 5px;
    backdrop-filter: blue(2px);

    align-items: center;
}

button {
    padding: 8px 10px;
    background-color: var(--luna-blue-1);
    border: 2px solid var(--luna-blue-3);
    border-radius: 5px 20px 5px 15px;
    color: var(--luna-text);
    transition: filter .25s;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.2);
}

.transform-origin-center {
    transform-origin: 50% 50%;
}

nav.container {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav.container>a {
    padding: 5px 10px;
    font-size: 14pt;
    border-bottom: 2px solid var(--luna-blue-2);

    transition: .25s;
}

nav.container>a:hover {
    background-color: var(--luna-blue-1);
}

@keyframes clock-glow {
    50% {
        filter: drop-shadow(0 0 30px var(--luna-blue-2));
    }
}

luna-clock {
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-bottom: -1.5rem;
    cursor: pointer;

    transition: transform 1.5s;
}

luna-clock>* {
    grid-column: 1;
    grid-row: 1;
    color: var(--luna-blue-3);
    width: min(100vw, 80vh);
    transition: transform 1.5s;
}

clock-readout {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
    overflow-wrap: break-word;

    text-shadow: 4px 2px 3px var(--luna-blue-1);
}

.clock-readout {
    display: flex;
    justify-content: center; align-items: center;
    text-align: center;
}

svg:nth-of-type(1) {
    animation: clock-glow 3s infinite;
}

svg {
    transition: transform .5s;
}

luna-clock.expanded {
    transform: rotateY(40deg) rotateX(-20deg) translateX(-15%);
}

luna-clock.expanded > clock-hour-hand {
    transform: scale(0.92) translate(20%, -20px);
}

luna-clock.expanded > clock-mins-hand {
    transform: scale(0.95) translate(35%, -45px);
}

