.container {
    transform: none;
    transition: 1s;
    cursor: pointer;

    margin-top: 100px;
}

.clock {
    width: 500px;
    height: 500px;

    position: relative;
    border-radius: 50%;

    pointer-events: none;
}

.clock.face {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0; top: 0;

    background-color: rgb(50, 60, 120);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    animation: border-glow 5s linear infinite;

    box-shadow: 2px 2px 3px var(--luna-blue-2);

    transition: transform 1s ease, opacity 1s ease;
}

@keyframes border-glow {
    0% {
        border-color: var(--luna-blue-2);
        padding: 3px;
    }
    50% {
        border-color: var(--luna-blue-3);
        border-width: 3px;
        padding: 1px;
        box-shadow: 2px 2px 12px var(--luna-blue-2);
    }
    100% {
        border-color: var(--luna-blue-2);
        padding: 3px;
    }
}

.clock.hand {
    width: 100%;
    height: calc(100% + 20px);

    position: absolute;
    left: 0; top: -20px;

    z-index: -100;

    transform-origin: 50% calc(50% + 10px);

    transition: transform 1s;
}

.clock.hand > img {
    width: 100%;
    height: 100%;
    transform-origin: 50% calc(50% + 10px);

    transition: transform .5s;

    filter: hue-rotate(220deg) brightness(1);
}

.container.expanded {
    transform: rotateY(40deg) rotateX(-20deg) translateX(-25%);
}

.container.expanded > .clock > .face {
    opacity: 0.6;

    /*transition: transform 1s, opacity 1s;*/
}

.container.expanded > .clock > .face > h1 {
    text-shadow: 4px 3px 2px #09608a !important;
}

.container.expanded > .clock > .hand:nth-of-type(2) {
    transform: scale(0.91) translate(40%, -45px);
}

.container.expanded > .clock > .hand:nth-of-type(3) {
    transform: scale(0.88) translate(80%, -90px);
}
