@font-face {
    src: url("/fonts/NovaSquare-Regular.ttf");
    font-family: NovaSquare;
}

html, body {
    height: 100%;
    overflow: hidden;

    font-family: NovaSquare;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    /*text-align: center;*/
}

.nav-container {
    display: flex;
    flex-direction: row;
    /*background: var(--luna-blue-1);*/
    color: var(--luna-text);
}

.app-title {
    font-weight: normal;
    align-self: flex-start;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;

}


button {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--luna-blue-2);
    transition: .25s;
}

button:hover {
    background: var(--luna-blue-2);
    border-bottom: 2px solid var(--luna-blue-3);
}

.nav-menu > button {
    font-size: 16pt;
}


footer {
    position: absolute;
    bottom: 15px;

    padding: 0;
    width: 100%;
}

.disabled {
    color: gray;
    pointer-events: none;
}


.nav-closing {
    transition: 1s;
    opacity: 0;
    transform: translateX(150%);
}
