
.readout {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

}

#currentTime {
    font-size: 46pt;

    /*animation: text-glow 1s infinite linear;*/
}

#currentDate {
    font-size: 16pt;
}
